html, body, #root{
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

#root{

    position: absolute;
}

.Header{
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
}

.Header h1,h2{
    margin:0px;
}

.Logo{
    padding-top: 10%;
    position: absolute;
    text-align: center;
    color:white;
}

/* started media queries  */

@media (max-width: 700px){
    #root{
        height: 128% !important;
    }
    .Header, .Servicios, .AboutUs, .Showroom, .Footer{
        width: 128% !important;
    }
    .Container{
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    .Header{
        width: 100%;
    }
    .Logo{
        padding-top: 50%
    }
    .Servicios{
        height: 120% !important;
    }
    .Container .title, .react-calendar, .inputs, .inputs .timePicker, input[type=text]{
        width: 100% !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .Container .title{
        margin-bottom: 80px;
    }
    .Model{
        display: none;
    }
    .ModelMobile{
<<<<<<< HEAD
        margin-top: 50px;
        z-index: 2;
        width: 100% !important;
        text-align: center;
        display: inline-flex !important;
        padding-left: 15px;
        padding-right: 15px;
=======
        position: absolute;
        top: 75%;
        z-index: 1;
        width: 100% !important;
        text-align: center;
        display: inline-flex;
        padding-left: 13%;
        padding-right: 11%;
>>>>>>> parent of 2b1aa1a... Merge pull request #9 from lauta3011/customizing-mobile-components
    }
    .InfoMobile{
        width: 33%;
        padding-top: 20px;
        border-radius: 5px;
        margin: 1px;
    }
    .CrearReserva .Container{
        width: 100% !important;
    }
    
    .CrearReserva .Reservar{
<<<<<<< HEAD
        margin-top: 50px;
    }
    .CrearReserva .Reservar button{
        width: 100% !important;
=======
        margin-top: 30%;
>>>>>>> parent of 2b1aa1a... Merge pull request #9 from lauta3011/customizing-mobile-components
    }
    .AboutUs{
        top: 220% !important;
    }
    .AboutUs .title{
        width: 80% !important;
        left: 10% !important;
    }
<<<<<<< HEAD
=======
    .AboutUs .title h3{
        padding-top: 100% !important;
    }
>>>>>>> parent of 2b1aa1a... Merge pull request #9 from lauta3011/customizing-mobile-components
    .Showroom{
        top: 320% !important;
    }
    .Footer{
        top: 420% !important;
    }
    .Footer .Logo{
        width: 40% !important;
        margin-left: -25px !important;
    }
    .Footer .Logo img{
        width: 60% !important;
    }
    .Footer .Logo h3{
        margin-top: 0 !important;
    }
    .Footer h3{
        margin-top: 35% !important;
    }
}

    /* media queries ended  */

.Logo h3{
    font-size: 90%;
}

.Logo img{
    width: 20%;
    filter:invert(1);
    padding-left: 10px;;
}

.Reservar button{
    background-color: #262626;
    border: none;
    border-radius: 5px;
    color:#ffff;
    padding: 20px 10px 20px 10px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}

.Reservar button:hover{
    padding: 22px 11px 22px 11px;
    box-shadow: 0px 7px 20px 1px #262626;
}

.Servicios{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
}

.CrearReserva input, .Reservar button{
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CrearReserva .Container{
    width: 31%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 40px -4px black;
}

.CrearReserva .title{
    width: 88%;
    padding-left: 80px;
    margin-top: 30px;
    text-align: center;
}

p{
    color: grey;
}

.CrearReserva .inputs{
    margin-left: 80px;
    margin-top: 30px;
}

.CrearReserva .inputs input{
    text-align: center;
}

.CrearReserva .timePicker{
    width: 350px;
    border-radius: 2px;
    border: 1px solid rgb(118, 118, 118);
    text-align: center;
}

.CrearReserva .timePicker input,select{
    border: none;
    margin: 0;
    width: 25%;
}

.model{
     position: absolute;
    top: 4%;
    left: 49%;
    width: 44%;
    background-color: white;
    border-radius: 500px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 70px -10px black;
}

.Model .Container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.react-calendar{
    margin-top: 4%;
    margin-left: 80px;
    border: none !important;
}

.Info .checkbox{
    position: relative;
    left: -45px;
    width: 30px;
    height: 30px;
    top: -10px;
}

.Info .cejas,.Info .cortePelo,.Info .barba{
    position: absolute;
    left: 60%;
    opacity: 0;
    transition: 0.5s;
}

.Info .barba{
    top:400px;
    width:250px;
    height: 260px;
}

.Info .cortePelo{
    top:90px;
    height: 230px;
    width:350px;
}

.Info .cejas{
    top:325px;
    width:150px;
    height:70px;
    left:58%;
}

.Info .cejas div,.Info .cortePelo div,.Info .barba div{
    width: 100px;
    color:white;
    margin-left: -100px;
    background-color: black;
    border-radius: 15px;
    text-align: center;
}

.Info div:hover{
    opacity: 1;
}

.AboutUs{
    position: absolute;
    top: 200%;
    height: 100%;
    width: 100%;

}

.AboutUs .Container{
    position: relative;
    padding-top: 40px;
    height: 100%;
    background-color: white;
    z-index: 1;
    text-align: center;
}

.AboutUs .title{
    position: absolute;
    width: 40%;
    left: 30%;
    height: 100%;
}

.Map{
    width: 100%;
    height: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.Showroom{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.Showroom .Container{
    margin:3% 5% 5% 0;
}

.Galeria{
    border-radius: 5px;
    overflow: hidden;
    margin-left: 5%;
}

.Galeria div{
    display: inline-flex;
    padding-top: 10px;
    overflow: auto;
}

.Showroom .Container h2{
    color: white;
    text-align: center;
}

.Showroom img{
    width: 600px;
    height: 590px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 2px;
}

.FlechaGaleria{
    position: absolute;
    top: 50%;
}

.FlechaGaleria button{
    border: none;
    border-radius: 50%;
    padding: 15px 20px 15px 20px;
    opacity: 0.5;
    transition: 0.5s;
}

.FlechaGaleria button:hover{
    opacity: 1;
}

.Footer{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 400%;
    background-color: black;
}

.Footer .Logo{
    width: 20%;
    padding: 30px;
}

.Footer .Logo img{
    width: 30%;
}

.Footer .Container .Logo h3{
    margin: 0;
    font-size: 100%;
}

.Footer h3{
    margin-top: 10%;
    text-align: center;
    font-size: 15px;
    color: white;
}