html, body, #root{
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

#root{

    position: absolute;
}

.Header{
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
}

.Header h1,h2{
    margin:0px;
}

.Logo{
    position: absolute;
    top: 30%;
    left: 45%;
    color:white;
}

.Logo div{
    width: 150px;
    text-align: center;
}

.ComponentContainer{
    position: absolute;
    top:100%;
    width: 100%;
}

.Logo h3{
    font-size: 90%;
}

.Logo img{
    width: 150px;
}

/* started media queries  */
@media (max-width: 1250px){
    .model{
        position: absolute;
        top:30px;
        margin-left: 95px !important;
        width: 80% !important;
    }
    .cortePelo{
        left: 25% !important;
    }
    .barba{
        top: 350px !important;
        left: 250px !important;
    }
    .cejas{
        top:280px !important;
        left:20% !important;
    }
}

@media (max-width: 800px){
    #root{
        height: 128% !important;
    }
    .ComponentContainer{
        top:97% !important;
    }
    .Header, .Servicios, .AboutUs, .Showroom, .Footer{
        width: 128% !important;
    }
    .Container{
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    .Header{
        width: 100%;
    }
    .Header .Logo{
        left:40% !important;
    }
    .Servicios{
        height: 1201px !important;
    }
    .Container .title, .Container .react-calendar, .inputs, .inputs .timePicker, input[type=text]{
        width: 100% !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .Container .title{
        margin-bottom: 80px;
    }
    .Model{
        display: none;
    }
    .ModelMobile{
        margin-top: 50px;
        z-index: 2;
        width: 100% !important;
        text-align: center;
        display: inline-flex !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    .InfoMobile{
        width: 33%;
        padding-top: 20px;
    }
    .CrearReserva .Container{
        width: 100% !important;
        height: 1201px !important;
        position: relative !important;
    }
    
    .CrearReserva .Book{
        margin-top: 50px;
    }
    .CrearReserva .Book button{
        width: 100% !important;
    }
    .ShowReservation .Container{
        top: 10% !important;
        left: 10% !important;
        height: 50% !important;
        width: 80% !important;
    }
    .ShowReservation .Container p{
        font-size: 25px;
        margin-bottom: 150px;
        text-align: justify;
        padding: 0 20px 0 20px;
    }
    .AboutUs{
        top: 1200px !important;
        height: 1000px !important;
    }
    .AboutUs .title{
        width: 80% !important;
        left: 10% !important;
    }
    .Showroom{
        top: 2200px !important;
        height: 1000px !important;
    }
    .Galeria{
        overflow: scroll !important;
        margin-left: 0 !important;
    }
    .Showroom .Container{
        margin: 15% 5% 5% 0 !important;
    }
    .Arrow{
        display: none !important;
    }
    .Footer{
        top: 3200px !important;
    }
    .Footer .Logo{
        width: 40% !important;
    }
    .Footer .Logo img{
        width: 60% !important;
    }
    .Footer .igLogo{
        left: 85% !important;
        top: 15%  !important;
        width: 10% !important;
    }
    .Footer .Logo h3{
        margin-top: 0 !important;
    }
    .Footer h3{
        margin-top: 35% !important;
    }
}

    /* media queries ended  */

.Book button{
    background-color: #262626;
    border: none;
    border-radius: 5px;
    color:#ffff;
    padding: 20px 10px 20px 10px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}

.Book button:hover{
    padding: 22px 11px 22px 11px;
    box-shadow: 0px 7px 20px 1px #262626;
}
.ModelMobile{
    display: none;
}

.InfoMobile{
    margin: 2px;
    border-radius: 5px;
}

.Servicios{
    height: 800px;
    width: 100%;
}

.ShowReservation{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 2;
    text-align: center;
}

.ShowReservation .Container{
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 20% ;
    left: 40% ;
    height: 250px;
    padding: 15px;
    box-shadow: 0px 0px 20px 0px;
    border-radius: 5px;
}

.ShowReservation .Container h1{
    margin-bottom: 20px;
}

.ShowReservation .ModalBackground{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}

.CrearReserva input, .Book button{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CrearReserva .Container{
    width: 31%;
    height: 800px;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 40px -4px black;
}

.CrearReserva .title{
    width: 88%;
    padding-left: 80px;
    margin-top: 30px;
    text-align: center;
}

p{
    color: grey;
}

.CrearReserva .inputs{
    margin-left: 80px;
    margin-top: 30px;
}

.CrearReserva .inputs input{
    text-align: center;
}

.CrearReserva .timePicker{
    width: 90%;
    border-radius: 2px;
    border: 1px solid rgb(118, 118, 118);
    text-align: center;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.CrearReserva .timePicker input,select{
    border: none;
    margin: 0;
    width: 25%;
}

.timePicker, input[type="text"]{
    width: 90%;
}

.model{
    margin-top: 20px;
    margin-left: 150px;
    width: 700px;
    background-color: white;
    border-radius: 500px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 70px -10px black;
}

.Model .Container{
    position: absolute;
    height: 100%;
    width: 69%;
    left: 31%;
}

.react-calendar{
    margin-top: 4%;
    margin-left: 80px;
    width: 75% !important;
    border: none !important;
}

.Info .checkbox{
    position: relative;
    left: -45px;
    width: 30px;
    height: 30px;
    top: -10px;
}

.Info .cejas,.Info .cortePelo,.Info .barba{
    position: absolute;
}

.Info .barba{
    top:400px;
    left: 320px;
    width:250px;
    height: 260px;
    transition: .5s;
}

.Info .barba div{
    margin-left: -100px;
    margin-top: 50px;
}

.Info .barba:hover{  
    transform: translateY(-10px);
}

.Info .cortePelo{
    top:45px;
    left: 320px;
    height: 230px;
    width:400px;
    transition: .5s;
}

.Info .cortePelo div{
    margin-left: 400px;
    margin-top: 85px;
}

.Info .cortePelo:hover{  
    transform: translateY(-10px);
}

.Info .cejas{
    top:325px;
    width:365px;
    height:70px;
    left:220px;
    transition: .5s;
}

.Info .cejas div{
    margin-top:-90px;
    width: 90px;
    left: 320px;
}

.Info .cejas:hover{  
    transform: translateY(-10px);
}

.AboutUs{
    height: 800px;
    width: 100%;

}

.AboutUs .Container{
    position: relative;
    padding-top: 40px;
    height: 100%;
    background-color: white;
    z-index: 1;
    text-align: center;
}

.AboutUs .title{
    position: absolute;
    width: 40%;
    left: 30%;
    height: 100%;
}

.Map{
    width: 100%;
    height: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.Showroom{
    height: 800px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.Showroom .Container{
    margin:3% 5% 5% 0;
}

.Galeria{
    border-radius: 5px;
    overflow: hidden;
    margin-left: 5%;
}

.Galeria div{
    display: inline-flex;
    padding-top: 10px;
    overflow: auto;
}

.Showroom .Container h2{
    color: white;
    text-align: center;
}

.Showroom img{
    width: 600px;
    height: 590px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 2px;
}

.Arrow{
    position: absolute;
    top: 50%;
}

.Arrow button{
    border: none;
    border-radius: 50%;
    padding: 15px 20px 15px 20px;
    opacity: 0.5;
    transition: 0.5s;
}

.Arrow button:hover{
    opacity: 1;
}

.Footer{
    position: absolute;
    width: 100%;
    background-color: black;
}

.Footer .Logo{
    left: 1%;
    top: 10%;
}

.Footer .Logo img{
    width: 30%;
}

.Footer .igLogo{
    filter: invert(1);
    position: absolute !important;
    width: 3%;
    left: 95%;
    top: 10%;
}

.Footer .Container .Logo h3{
    margin: 0;
    font-size: 100%;
}

.Footer h3{
    margin-top: 10%;
    text-align: center;
    font-size: 15px;
    color: white;
}